<!DOCTYPE html>
<html>
<head>
  <title>API Documentation</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h1 {
      color: #333;
      margin-bottom: 20px;
    }
    .api-info {
      margin-bottom: 30px;
    }
    .api-info p {
      font-weight: bold;
    }
    .endpoint-list {
      list-style-type: none;
      padding: 0;
    }
    .endpoint-list li {
      margin-bottom: 10px;
    }
    .endpoint-list li strong {
      color: #333;
    }
    .main {
      display: flex;
      font-size: 1.8rem;
      justify-content: center;
      margin-top: 200px;
    }

    


  </style>
</head>
<body>
  <div class="main">
    <div>
      <h1><%= apiName %> API</h1>
      <div class="api-info">
        <p>API Name: <%= apiName %></p>
      </div>
      <h2>Endpoints:</h2>
      <ul class="endpoint-list">
        <% endpoints.forEach(function(endpoint) { %>
          <li><strong><%= endpoint.path %></strong> - <%= endpoint.description %></li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
