* {
    padding: 0;
    margin: 0;
    color: #333;
}
a {
    text-decoration: none; !important;
    padding: 5px;
}

body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
}

.container {
    margin-top: 10px;
}

.container h1 {
    margin-bottom: 50px;
}

.main {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.card {
    border: 1px solid ;
    padding: 10px;
    min-width: 300px;
    max-width: 350px;
    background-color: white;
}

p {
    margin-top: 4px;
}

.links {
    overflow: hidden;
    word-wrap: break-word;
    font-size: .9rem;
    margin-top: 10px;
}

.box-paginate {


}
.paginate-current-page {

}


.card {
    position: relative;
    margin-bottom: 70px;
}
.addToCart {
    position: absolute;
    margin-top: 20px;
    right: 0;
    color: chartreuse;
    padding: 5px;
    border-radius: 15%;
    background-color: deeppink;
    cursor: pointer;
}
.alert_container {
    margin-top: 0;
    position: fixed;
    right: 0;
    width: 300px;
    height: 150px;
    position: fixed;
    overflow: hidden;
}
#ALERT {

}
#ALERT li {
    width: 300px;
    list-style-type: none;
    float: right;
    font-size: 12px;
    background-color: rgba(127, 255, 0, 0.5);
    color: deeppink;

}

.WOOP {
    background-color: rgba(127, 255, 0, 0.5);
    color: deeppink;
    padding: .8%;
    box-sizing: border-box;
}

.WOOP:hover {
    border: solid 1px deeppink;
}

.box-paginate-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.box-paginate-current-page p strong {
    margin: auto;
    padding: 2px;

}

.box-paginate-controls a{
    margin: auto;
    width: 100%;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    line-height: 50px;
}


.box-paginate-controls a:hover {
    background-color: rgba(127, 255, 0, 0.5);
    color: deeppink;
    padding: .1%;
    border: solid 1px deeppink;
}

.thumbnails {
    margin-top: 25px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: contain;

}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
}

.welcome-container .welcome-container_text {
    margin-right: 5px;
}


.file-input-container {
    display: flex;
    align-items: center;
}


.productEditForm {
    width: 100%;
}

.productEditForm input {
    width: 99%;
}



/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

button#ir-a-productos {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button#ir-a-productos:hover {
    background-color: #0056b3;
}


/* Estilos para el modal de confirmación */
#modal-confirmacion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

button#confirmar-compra {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button#cancelar-compra {
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button#confirmar-compra:hover {
    background-color: #0056b3;
}

button#cancelar-compra:hover {
    background-color: #999;
}

.estilo-eliminado {
    padding: 2px;
    border: none;
    outline: none; /* Elimina el contorno al enfocar */
    text-decoration: none; /* Elimina subrayado */
}


.buy-button {

    background-color: rgba(127, 255, 0, 0.5);
    color: deeppink;
    padding: .1%;
    border: solid 1px deeppink;
}

.chat-box {
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    height: 50vh;
    padding: 2%;
    letter-spacing: 1px;
    background-color: white;
    border: solid 1px deeppink;
}

.chat-box p {
    color: #333333;
    font-weight: 200;
}


.chatBox {
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    font-weight: 900;
}


/* Estilos para centrar el formulario */
#login-form {
    text-align: center;
    margin: 300px auto;
    max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
}

/* Estilos para los elementos del formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para los mensajes y enlaces */
.message-login {
    color: #ff0000; /* Color de los mensajes de error, ajusta según tus preferencias */
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


a {
   text-decoration: none;
   color: inherit;
}



.body_denied {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.access-denied {
    background-color: #ff6347; /* Color de fondo rojo */
    color: #fff; /* Color de texto blanco */
    margin: auto;
    margin-top: 100px;
    width: 70%;
    padding: 20px;
    height: 20vh;
    border-radius: 5px;
}

.new-product button{
    margin-top: 10px;
    padding: 5px;
    background-color: chartreuse; /* Color de fondo rojo */

}

.new-product button:hover {
    background-color: #ff6347; /* Color de fondo rojo */
}


/* Estilos del modal */


#container {
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    height: 65vh;
    background-color: whitesmoke;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#curlForm div {
    border: #007BFF;
    padding: 10px;
}

#curlForm div input {
    width: 90%;
    font-size: 1.2rem;
    font-weight: 200;
}
#attachmentContainer {
    margin-top: 10px;
}

.menu-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu-btn button {
    padding: 5px;
}